demo/target/
demo/Cargo.lock

platforms/wasm/dist/
platforms/wasm/generated/
platforms/wasm/node_modules/
platforms/wasm/package-lock.json

platforms/java/src/main/java/
platforms/java/*.class

platforms/apple/*.xcframework/
platforms/apple/Sources/

platforms/android/src/main/jniLibs/
platforms/android/src/main/kotlin/

platforms/csharp/dist/
platforms/csharp/DemoTest/bin/
platforms/csharp/DemoTest/obj/
